:root {
  /* Farver */
  --color-water1: #1d5a77;
  --color-water2: #44b9f1;
}

/* Dodger style (For alle fisk) */
#dodger {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80px;
  width: 160px;
  position: absolute;
}

#game {
  /* lag: først billede (øverst), så gradient (bagved) */
  background-image: url("../img/gamebg.png"),
    linear-gradient(to bottom right, var(--color-water2), var(--color-water1));
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 120vw auto;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

/* fjerner hvide kanter */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#start {
  color: white;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
}

#homeBTN {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 85px;
  height: 85px;
  background-size: cover;
  cursor: pointer;
}

/*Styling for confetti overlay */
.confetti-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
  background: transparent;
}
.confetti-overlay img {
  max-width: 100%;
  width: 100%;
  height: auto;
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.confetti-overlay.confetti-hide img {
  opacity: 0;
  transform: translateY(-8px) scale(1.02);
}

/* Styling for win screen og TILBAGE TIL AKVARIET knap */
#winScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

#winScreen h1 {
   font-size: 80px;
  color: white;
  font-family: "Comic Sans MS", sans-serif;
  text-shadow: 3px 3px 10px black;
  margin-bottom: 40px;
}

#backButton {
  padding: 20px 40px;
  background: #e53b3b;
  color: white;
  font-size: 35px;
  border-radius: 25px;
  text-decoration: none;
  font-family: "Comic Sans MS", sans-serif;
}

.hidden {
  display: none;
}
#winScreen.hidden {
  display: none !important;
}
